{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
<h2>{{object.title}}</h2>
<p>{{object.author}}</p>
<p>{{object.text}}</p>
{% endif %}

{% if user == object.author %}
<button><a href="{% url 'post_update' pk=object.pk%}">Edit</a></button>
<button><a class='btn btn-warning' href="{% url 'post_delete' pk=object.pk %}">Delete</a></button>
{% endif %}

{% if object.publish_date %}
{{object.publish_date}}
{% else %}
<button><a href="{% url 'post_publish' pk=object.pk %}">Publish</a></button>
{% endif %}


{% endblock content %}